<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings> 
      <add key="Authority" value="https://demo.duendesoftware.com"/>
		  <add key="ClientId" value="interactive.public"/>
		  <add key="RedirectUrl" value="http://127.0.0.1:1106/"/>
		  <add key="OidcClientLog" value="OidcClientLog.log"/>
      <add key="GPTAssemblyLog" value="GPTAssemblyLog.log"/>
    </appSettings>  
</configuration>
